{{ define "main" }}
<div class="list">
  {{ range .Paginator.Pages }}
  <img
    src="{{ .Params.image}}"
    alt="{{.Title}}"
    class="listItemImage"
    loading="lazy"
  />
  <div class="listItemTexts">
    <h1 class="listItemTitle">
      <a href="{{.Permalink}}">{{.Title}}</a>
    </h1>
    <p class="listItemDesc">{{.Params.description}}</p>
    <div class="listItemDetail">
      <img src="{{.Params.avatar}}" loading="lazy" alt="" />
      <span></span>
      <time>{{.Date}}</time>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
